body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    color: #000000;
    text-align: center;
    background-color: rgb(255, 255, 255);
}


header {
    background-color: #ffffff;
    color: rgb(201, 145, 82);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 0;
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
  
}

nav a {
    text-decoration: none;
    color: rgb(201, 145, 82)
   
    
}

footer {
    margin-top: 570px;
    background-color: rgb(201, 145, 82);
    color: white;
    padding: 10px;
    text-align: center;
    width: 99%
  }

 /* Troca de imagens */
.slideshow-container {
    position: relative;
    margin: auto;
  }
  

  .active {
    background-color: #717171;
  }
  

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
