body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    color: rgb(201, 145, 82);
    background-color: #070707;
    
}

 header {
    background-color: #ffffff;
    color: rgb(201, 145, 82);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 0;
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
  
}

nav a {
    text-decoration: none;
    color: rgb(201, 145, 82)
   
    
}


.preco {
    font-weight: bold;
    color: #ffffff;
    font-size: 1.2em;
    margin-top: 10px;
}

p {
    line-height: 1.6;
    margin-bottom: 10px;
}

img {
    width: 200px;
}
